
    #item-help{
        flex-grow: 1;
            }
            #icon-button2{
                width: 25%;
            }
            #search-container{
                width: 100%;
              
            }
            #droplist-for-help{
                width: 100%;
            }
          

          .droplist{
            display: flex;
            flex-direction: column;
            border-top: #000000 2px solid;
            border-left: #000000 2px solid;
            border-right: #000000 2px solid;
            position: absolute;
            top: 70px; 
            left: 0;
            min-width: 150px;
            }
            
            #droplist-for-cake{
                transition: max-height 0.5s;
                display: none;
                overflow: hidden;
                flex-wrap: nowrap;
            
            }
            #droplist-for-candy{
                /* position: absolute;
                left: 0px; */
             
                display: none;
                overflow: hidden;
                flex-wrap: nowrap;
                /* animation: showdroplist 1s forwards; */
            }
            #droplist-for-help{
                /* position: absolute;
                left: 0px; */
                display: none;
                overflow: hidden;
                flex-wrap: nowrap;
                /* animation: showdroplist 1s forwards; */
            }
            #droplist-for-cart{
            
                display: none;
                overflow: hidden;
                flex-wrap: nowrap;
            
            }
            .option-droplist{
                text-decoration: none;
                color: black;
                font-family: "Teko", sans-serif;
                border-bottom: #000000 2px solid;
                width: 100%;
                background-color: white;
                height: 30px;
                min-height: 30px;
                text-align: left;
            
            
            }
            .option-droplist:hover{
                background-color: gray;
               
            }
            @keyframes showdroplist {
                from{
                    height: 0px;
                }
                to {
                    height: max-content;
                }
            }
            @keyframes showdroplist_revesre {
                from{
                    height: max-content;
                }
                to {
                    height: 0px;
                }
            }
            .social-item {
                gap: 8px;
                display: flex;  
                justify-content: left;        
                align-items: center;    
                height: 25px;
                width: 150px;
                text-align:left ;
                font-size: 15px;
                font-weight: 300;
                font-family: sans-serif;
                cursor: pointer;
                color: black;
                padding-left: 5px;
                margin: 5px;
            }
            
            .imgfooter {
                width: 24px;            
                height: 24px;
            }
            .droplist1{
            
                transition: height 0.5s;
                height: 0px;
                right: 0%;
                overflow: hidden;
            }
            #droplist-for-menu1{
                top: 0;
            }
            #droplist-for-menu2{
                top: 32px;
            }
            #droplist-for-menu3{
                top: 65px;
            }
            #droplist-for-menu4{
                top: 97px;
            }
            #droplist-for-menu5{
                top: 122px;
            }
            #menu-drop-list{
                display: none;
                width: 150px;
                background-color: white;
                font-family: "Teko", sans-serif;
                font-size: 20px;
                position: absolute;
                right: 0px;
                top: 70px;
            }
            .menu-item{
                height: 30px;
                border: #000000 2px solid;
                overflow: hidden;
            }
            .menu-item:hover{
                background-color: gray;
            }
            
            h3{
                margin: 0px;
                font-family: "Teko", sans-serif;
                font-size: 25px;
                padding-top: 10px;
                position: absolute;
                top: 0px;
            }

                
            
            body {
                margin: 0;
                padding: 0;
                background-color: #ebe4f2;
                width: 100%;
                height:max-content;  /* Adjusts the height to be the full height of the viewport */
                overflow-x: hidden;
            }
            

            
            html{
                margin: 0;
                padding: 0;
                width: 100%;
                min-height: 100%;
              }
              
            nav{
                height: 0px;
                background-color: #008631;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                top: -70px;
                width: 100%;
                z-index: 12;
                animation: shownav 1s forwards;

            }
            @keyframes shownav {
                from{
                    position: absolute;
                    top: -70px;
                    height: 70px;
                }
                to{
                    height: 70px;
                    position: fixed;
                    top: 0px;
                }
            }
            .logo{
                font-family: "teko";
                font-size: 45px;
                color: white;
                padding-left: 0px;
                
            }
            footer {
                background-image: url('picforhtml/depositphotos_247305488-stock-photo-pale-green-monochrome-glossy-background.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                position: relative;
                height: max-content;
                z-index: 2;
                padding-bottom: 20px;
                overflow: hidden;
            }
            
            ul{
                margin: 0px;
                list-style-type: none;
                padding: 0px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
               
            }
            .item {
                font-family: "Teko", sans-serif;;
                padding: 0px;
                color: black;
                text-align: center;
                min-width: 60px;
                height: 70px;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease;
                text-decoration: none; 
                background-color: white;
                border: none;
                justify-content: right;
                align-items: center;
                position: relative;
                
            }
            .item:hover{
                cursor: pointer;
            }
            .itemname{
            height: 100%;
            font-size: 30px;
            font-weight: 300;
                align-items: center;
                display: flex;
                justify-content: center;
                background-color: #008631;
                color: white;
            }
            .itemname:hover {
                text-decoration: underline; /* Gạch dưới khi hover */
                text-decoration-color: rgb(255, 255, 255); /* Màu của gạch dưới */
                text-decoration-style: solid; /* Kiểu gạch dưới là solid */
            }
            
            li:hover {
                text-decoration: underline; /* Gạch dưới khi hover */
                text-decoration-color: black; /* Màu của gạch dưới */
                text-decoration-style: solid; /* Kiểu gạch dưới là solid */
            }
            #search-icon{
                height: 70px;
                width: 70px;
                align-items: center;
                justify-content: center;
                background-color: #008631;
                border: none;
            }
            #search-icon:hover{
            background-color: grey;
            }
            #item-help{
            
            height: 70px;
            display: flex;
            align-items: center;
            position: relative;
            
            }
            #underline{
                height: 2px;
                width: 0%;
                background-color: #000000;
            
            }
            
            @keyframes underline {
                from{
                    width: 0%;
            
                }
                to{
                    width: 100%;
                   
                }
            }
            @keyframes revesreunderline {
                from{
                 
                    width: 100%;
                }
                to{
                    width: 0%;
                   
                }
            }
            #search-container{
            padding: 5px;
                height: 60%;
                background-color: white;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 2px black solid;
                border-radius: 15px;
            }
            #search {
                border: none;
                width: 100%;
                font-size: 20px;
                height: 30px; /* Define a consistent height */
                
                border-radius: 10px;
                box-sizing: border-box; /* Ensures padding doesn't affect width */
            }
            /* //    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
            #search:focus {
                outline: none; /* Removes the default focus outline */
              
            }
            #search-icon-pic{
                height: 25px;
                width: 25px;
                margin-left: 0px;
              
            }
            
            #icon-button{
                display: flex;
                max-width: 400px;
             justify-content: center;
            }
            #icon-button1{
                
            
                flex-direction: row;
                max-width: 600px;
                justify-content: center;
            }
            
            #icon-button2{
            
                flex-direction: row;
                max-width: 400px;
                justify-content: center;
                height: 70px;
            }
            #icon-button3{
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 50px;
                height: 70px;
                right: 10px;
                
            }
            
            .footer-div{
                width: 30%;
                z-index: 4;
                height: max-content;
            }
            .footer-ul{
                display: flex;
                flex-direction: column;
            }
            .footer-li{
                width: 100%;
                max-width: 150px;
               text-align:left ;
                font-size: 15px;
                font-weight: 300;
                font-family: sans-serif;
                color: black;
                padding-left: 5px;
                cursor: pointer;
            margin: 5px;
            }
            
            .list2{
                display: flex;
                flex-direction: row;
            }
            .item-list2{
                font-family: "Teko", sans-serif;;
                padding: 0px;
                color: white;
               
                text-align: center;
                height: 70px;
                display: flex;
                flex-direction: column;
                transition: all 0.3s ease;
                text-decoration: none; 
                background-color: #008631;
                border: none;
                justify-content: center;
                align-items: center;
            }
            .item-list2:hover{
                text-decoration: underline;
            }
            
            
            @keyframes showtext {
                from{
                 
                    opacity: 0;
                    left: 50%;
                 
                }
                to{
               
                    opacity: 1;
                    left: 30%;
                   
                }
            }
            h1{   
                font-size: 30px;
                font-weight: 400;
                font-family: 'teko';
                color: black;
                width: 90%;   
                margin-bottom: 0px;
                margin-top: 0px;
                color: black;
            }
            .text1{
                text-align: center;
                font-weight: 400;
                font-family: "Lato", sans-serif;
                color: black;
                margin: 0px;
                font-size: 20px;
            }
            .text2{
                font-size: 20px;
                text-align: center;
                color: black;
                font-weight: bold;
                font-family: "Lato", sans-serif;
                margin-top: 10px;
            }
            #item-help{
                flex-grow: 1;
                    }
                    #icon-button2{
                        width: 25%;
                    }
                    #search-container{
                        width: 100%;
                      
                    }
                    #droplist-for-help{
                        width: 100%;
                    }
                    @media (max-width: 500px) {
    
                        #icon-button1{
                            display: none;
                        }
                        #icon-button2{
                            display: none;
                        }
                        #icon-button3{
                            display: flex;
                        }
                        #imgnav{
                          
                            width: 100px;
                        }
                        .itemname{
                            font-size: 15px;
                            width: 80px;
                        }
                        .item{
                            width: 50px;
                        }
                        .item-list2{
                            font-size: 15px;
                            width: 60px;
                        }
                        .option-droplist{
                            font-size: 20px;
                       
                        }
                
                        .post-container{
                            width: 200px;
                            height: 400px;
                        }
                
                     
                  
                        #imgnav{
                            width: 100px;
                        }
                        #search-container{
                            display: none;
                        }
                    }
                    @media (min-width: 501px) and (max-width: 980px) {
                        #item-help{
                            width: 200px;
                        }
                        #icon-button1{
                            display: flex;
                        }
                        #icon-button2{
                            display: flex;
                        }
                        #icon-button3{
                            display: none;
                        }
                        #nothing{
                          
                            display: none;
                        }
                    
                        #imgnav{
                          
                            width: 100px;
                        }
                        #slide4-header{
                            font-size: 30px;
                        }
                        .itemname{
                            font-size: 20px;
                            width: 80px;
                        }
                        .item{
                            width: 50px;
                        }
                        .item-list2{
                            font-size: 20px;
                            width: 60px;
                        }
                        .option-droplist{
                            font-size: 20px;
                          
                        }
                 
                        .post-container{
                            width: 200px;
                            height: 400px;
                        }
                    
                        .picpost{
                          
                            height: 200px;
                        }
              
                        #search-container{
                            display: none;
                        }
                        #search-icon{
                            display: flex;
                        }
                    
                    }
                    
                    
                    
                    @media (min-width:980px) {
                        .droplist{
                            min-width: 200px;
                        }
                        #item-help{
                            width: 200px;
                        }
                        #icon-button1{
                            display: flex;
                        }
                        #icon-button2{
                            display: flex;
                        }
                        #icon-button3{
                            display: none;
                        }
                        #nothing{
                          
                            display: none;
                        }
                        #imgnav{
                            width: 150px;
                        }
                 
                        .itemname{
                            font-size: 30px;
                            width: 120px;
                        }
                        .item{
                            width: 90px;
                        }
                            .item-list2{
                                font-size: 25px;
                                width: 120px;
                            }
                            .option-droplist{
                                font-size: 25px;
                               
                            }
                      
                
                         
                 
                            #search-container{
                                display: none;
                            }
                            #search-icon{
                                display: flex;
                            }
                        } 

                        @media (max-width: 500px) {
                            .footer-div{
                            width: 100%;
                            
                           }
                          }
                      