/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
/* "Lato", sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@font-face {
    font-family: 'MyCustomFont';
    src: url(peach-sundress/CreatoDisplay-Light.otf) format('opentype'); /* Adjust the path as necessary */
    font-weight: normal; /* Adjust the weight as necessary */
    font-style: normal; /* Adjust the style if italic, etc. */
}
@font-face {
    font-family: 'Floresta';
    src: url(font/Floresta\ Display.ttf);
}
@font-face {
    font-family: 'nemonty';
    src: url(nemonty/Nemonty\ DEMO.ttf);
}

h1{   
    font-size: 20px;
    font-weight: 400;
    font-family: 'teko';
    color: black;
    width: 90%;   
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    padding-left: 15px;
}
h2{
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    color: black;
    width: 90%;   
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: black;
}
h3{
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    color: black;
    width: 90%;     
    margin-top: 0px;
    margin-left: 15px;
    color: black;
}



@media (max-width: 1050px) {

    #containerforform{
        width: 100%;
    }
}
@media (min-width: 1051px) {
  
    #containerforform{
        width: 50%;
    }

}



.button-66 {
    background-color: #006622;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
  .button-66:hover {
    background-color: #006622;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-66 {
      padding: 16px 44px;
      min-width: 150px;
    }
  }

#profilecontainerform{
    width: 60%;
background-color: #ffffff;
border-radius: 15px;

}
#avatarholdercontainer{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatar{
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 500px;

}
.tag{
    color: #45b6fe;
}

.container{
    width: 100%;
    height: 100%;
    min-width: 300px;
    height: 600px;
    background-color: white;
    opacity: 1;
  
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}
.conversationcontainer{
    width: 30%;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;

}
.conversationcontainer::-webkit-scrollbar-thumb {
 
    background-color: #006622; /* Darker shade for contrast */
    border-radius: 5px;
}
.conversationcontainer::-webkit-scrollbar {
    width: 5px;
    background-color: #799a85; /* Darker shade for contrast */
    border-radius: 0px;
}
.conversationcontainer:hover::-webkit-scrollbar {
    width: 15px;
}

.chattaga{
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    position: relative; 
    height: 70px;
}
.chatdiv:hover{
    background-color: #a3cfb3;
}
.chatdiv{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #cbffde;
 
}
.chatspace{
    min-height: 500px;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}
.input-wrapper input {

    background-color: #ffffff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 90%;
    border-radius: 1rem;
    color: #008631;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  
  .input-wrapper input:focus {
    outline-color: #008631;
  }
.inputmessage{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 80px;
    background-color: #cbffde;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Base Duration */
/* :root {
    --base-duration: 500ms;


    --color-1: #2c3e50;
    --color-2: #169e3f;
    --color-3: #2ecc71;
    --color-3-light: #58d68d; 
} */




.button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30px;
    margin: 0;
    padding: 1.5rem 3.125rem;
    background-color: var(--color-2);
    border: none;
    border-radius: 0.3125rem; 
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden; 
    transition: var(--base-duration) ease;
}

.button::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-3-light);
}

.button span {
    position: absolute;
    line-height: 0;
}

.button span i {
    transform-origin: center center;
}

.button span:nth-of-type(1) {
    top: 50%;
    transform: translateY(-50%);
}

.button span:nth-of-type(2) {
    top: 100%;
    transform: translateY(0%);
    font-size: 15px;
}

.button span:nth-of-type(3) {
    display: none;
}

.active {
    background-color: var(--color-3);
}

.active::before {
    width: 100%;
    transition: width 3s linear;
}

.active span:nth-of-type(1) {
    top: -100%;
    transform: translateY(-50%);
}

.active span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
}

.active span:nth-of-type(2) i {
    animation: loading var(--base-duration) linear infinite;
}

.active span:nth-of-type(3) {
    display: none;
}

.finished {
    background-color: var(--color-3-light);
}

.finished .submit,
.finished .loading {
    display: none; 
}

.finished .check {
    display: block !important;
    font-size: 15px;
    animation: scale 0.5s linear;
}

.finished .check i {
    transform-origin: center center;
}

/* Animations */
@keyframes loading {
    100% { transform: rotate(360deg); }
}

@keyframes scale {
    0%   { transform: scale(10); }
    50%  { transform: scale(0.2); }
    70%  { transform: scale(1.2); }
    90%  { transform: scale(0.7); }
    100% { transform: scale(1); }
}
.message{
    width: 100%;
    height: 50px;

}
.message:hover{
    background-color: #2ecc71;
}

.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A8DDFD;
    width: max-content;
    max-width: 300px;
    min-height: 50px;
    height: max-content;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #97C6E3;
    border-radius: 10px;
}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    right: 20px;
    padding: 10px;
    background-color: #f8e896;
    width: max-content;
    max-width: 400px;
    min-height: 50px;
    height: max-content;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid #dfd087;
    border-radius: 10px;
}
.messageforall{
    width: 100%;
    height:max-content
}
.message-content {
    padding: 0;
    margin: 0;
    min-width: 100px;
    width: 100%;
    height: max-content;
    word-wrap: break-word; /* Ensures long words break properly */
    overflow-wrap: break-word; /* Alternative for better compatibility */
    white-space: normal; /* Allows text to wrap onto the next line */
    max-width: 100%;
}

.message-timestamp-right {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    right: 5px;
}

.message-timestamp-left {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: 5px;
    left: 5px;
}

.message-blue:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #A8DDFD;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
}

.message-blue:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #97C6E3;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
}

.message-orange:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message-orange:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}
.gobackbtn{
    width: 50px;
    height: 70px; 
    display: none; 
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
    .gobackbtn{
        display: flex; 
    }
}